{% extends "base.html" %}


{% block container %}

<div id="branding" style="margin:0px;background-color: rgb(30, 138, 204);height:40px;line-height: 40px; color:#fff;">
     <div style="float:left;margin-left:20px;font-size: large;">BNN 勤俭持家</div>
    <div class="hidden-phone" style="float:right;margin-right:10px;">{% now "jS F Y" %}</div>
</div>

<div id="messages">
    {% if messages %}
        <ul class="unstyled" style="margin:0;">
    		{% for message in messages %}
    			<li style="margin:0;"{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
    		{% endfor %}
		</ul>
    {% endif %}
</div>

{% if user.is_authenticated %}
<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav pull-left">
      <li><a href="/index">Summary</a></li>
      <li><a href="/add_slip">Add</a></li>
      <li><a href="/history">History</a></li>
      <li class="visible-phone"><a href="/accounts/logout/"><i class="icon-off"></i> Logout</a></li>
    </ul>
    <ul class="nav pull-right hidden-phone">
      <li><a href="#">{{ user.first_name }}</a></li>
      <li><a href="/accounts/logout/"><i class="icon-off"></i> Logout</a></li>
    </ul>
  </div>
</div>
{% endif %}

<div id="content">
{% block content %}{% endblock %}
</div>

{% endblock %}