{% extends "bnn_base.html" %}

{% block title %}History{% endblock %}


{% block content %}
{% load endless %}
{% paginate 20 slips %}

<h4>History</h4>
<table class="table">
	<tr>
		<th>Payer</th>
		<th>Sum</th>
	</tr>
	{% for user in user_sums %}
		<tr>
			<td>{{ user }}</td>
			<td>{{ user.sum }}</td>
		</tr>
	{% endfor %}
</table>


<table class="table table-hover">
	<tr>
		<th>Payer</th>
		<th>Date</th>
		<th>Notes</th>
		<th>Amount</th>
	</tr>
	{% for p in slips %}
	<tr>
		<td>{{ p.profile }}</td>
		<td>{{ p.paid_date|date:"d/m D" }}</td>
		<td>{{ p.notes }}</td>
		<td>{{ p.total_amount }}</td>
	</tr>
	{% endfor %}

</table>
{% show_pages %}
 
{% endblock %}
