{% extends "bnn_base.html" %}


{% block title %}Summary{% endblock %}


{% block content %}

<h4>This Week:</h4>
<table class="table table-hover">
	<tr>
		<th>Payer</th>
		<th>Date</th>
		<th>Notes</th>
		<th>Amount</th>
	</tr>
	{% for p in this_week_slips %}
	<tr>
		<td>{{ p.profile }}</td>
		<td>{{ p.paid_date|date:"d/m D" }}</td>
		<td>{{ p.notes }}</td>
		<td>{{ p.total_amount }}</td>
	</tr>
	{% endfor %}
	<tr>
		<th>Total</th>
		<td></td>
		<td></td>
		<th>{{ this_week_sum }}</th>
	</tr>
	{% for user in this_week_user_sums %}
	<tr>
		<td>{{ user.profile__nick_name }}</td>
		<td></td>
		<td></td>
		<td>{{ user.sum }}</td>
	</tr>
	{% endfor %}
</table>

<h4>Last Week:</h4>
<table class="table table-hover">
	<tr>
		<th>Payer</th>
		<th>Date</th>
		<th>Notes</th>
		<th>Amount</th>
	</tr>
	{% for p in last_week_slips %}
	<tr>
		<td>{{ p.profile }}</td>
		<td>{{ p.paid_date|date:"d/m D" }}</td>
		<td>{{ p.notes }}</td>
		<td>{{ p.total_amount }}</td>
	</tr>
	{% endfor %}
	<tr>
		<th>Total</th>
		<td></td>
		<td></td>
		<th>{{ last_week_sum }}</th>
	</tr>
	{% for user in last_week_user_sums %}
	<tr>
		<td>{{ user.profile__nick_name }}</td>
		<td></td>
		<td></td>
		<td>{{ user.sum }}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}